<ion-content class="ion-padding-top">
  <app-week-progress
    [progressDisplay$]="progressDisplay$"
    [profilePicUrl]="selectedImage"
    [isFatLogger]="isFatLogger"
    [isMuscleLogger]="isMuscleLogger"
    [isCurrentWeightPeriodRecorded]="isCurrentWeightPeriodRecorded"
    [isCurrentFatPeriodRecorded]="isCurrentFatPeriodRecorded"
    [isCurrentMusclePeriodRecorded]="isCurrentMusclePeriodRecorded"
    (comparisonPeriodChanged)="onSummaryPeriodChanged($event)"
  ></app-week-progress>
  <app-trend-charts
    [chartData$]="chartData$"
    [isFatLogger]="isFatLogger"
    [isMuscleLogger]="isMuscleLogger"
    (comparisonPeriodChanged)="onChartPeriodChanged($event)"
  ></app-trend-charts>
</ion-content>
