<div
  class="snapshot container"
  *ngIf="progressDisplay$ | async as progressDisplay"
>
  <div class="snapshot__header">
    <ion-text>
      <h2>{{ getSalutation() }}, {{ progressDisplay.name }}</h2>
    </ion-text>
    <app-macro-tracker> </app-macro-tracker>

    <div class="snapshot__header-filter">
      <h3>Since...</h3>
      <div class="snapshot__filter">
        <div
          (click)="changeFilter(ProgressPeriod.Week)"
          [ngClass]="{
            selected: selectedProgressPeriod === ProgressPeriod.Week
          }"
        >
          Last Week
        </div>
        <div
          (click)="changeFilter(ProgressPeriod.Month)"
          [ngClass]="{
            selected: selectedProgressPeriod === ProgressPeriod.Month
          }"
        >
          Last Month
        </div>
      </div>
    </div>
  </div>
  <ion-grid>
    <ion-row class="snapshot__profile">
      <div class="snapshot__profile-container">
        <img
          class="snapshot__profile-picture"
          (click)="onPickImage()"
          [src]="profilePicUrl"
          alt=""
        />
      </div>
    </ion-row>
    <ion-row class="snapshot__row--overall">
      <ion-col>
        <ion-card class="snapshot--overall">
          <ion-card-content
            class="snapshot__content"
            *ngIf="isCurrentWeightPeriodRecorded; else noCurrentWeightsMessage"
          >
            <div class="snapshot__weight">
              <div class="snapshot__title">Current Avg Weight</div>
              <div class="snapshot__value">
                <span>{{ progressDisplay.weight | number : "1.1-2" }}</span>
                <span class="snapshot__units">{{
                  progressDisplay.unitAbbrev
                }}</span>
              </div>
            </div>
            <div class="snapshot__placeholder"></div>
            <div class="snapshot__compare" #snapshotWeight>
              <div class="snapshot__title">
                Since Last {{ selectedProgressPeriod }}
              </div>
              <div
                class="snapshot__value"
                *ngIf="progressDisplay.isComparisonWeightFound"
              >
                {{ progressDisplay.weightChange | number : "1.1-2" }}
                <span class="snapshot__units">{{
                  progressDisplay.unitAbbrev
                }}</span>
              </div>
              <div
                class="snapshot__value"
                *ngIf="!progressDisplay.isComparisonWeightFound"
              >
                Keep Logging!
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="isFatLogger">
        <ion-card class="snapshot__fat">
          <ion-card-header>
            <ion-card-title>Fat</ion-card-title>
          </ion-card-header>
          <ion-card-content
            class="snapshot__content"
            *ngIf="isCurrentFatPeriodRecorded; else noCurrentFatMessage"
          >
            <div class="snapshot__weight">
              <div class="snapshot__subtitle">Current Avg</div>
              <div class="snapshot__value">
                {{ progressDisplay.fat | number : "1.1-2" }}
                <span class="snapshot__units">{{
                  progressDisplay.unitAbbrev
                }}</span>
              </div>
            </div>
            <div class="snapshot__placeholder"></div>
            <div class="snapshot__compare" #snapshotFat>
              <div class="snapshot__subtitle">Change</div>
              <div
                class="snapshot__value"
                *ngIf="progressDisplay.isComparisonFatFound"
              >
                {{ progressDisplay.fatChange | number : "1.1-2" }}
                <span class="snapshot__units">{{
                  progressDisplay.unitAbbrev
                }}</span>
              </div>
              <div
                class="snapshot__value"
                *ngIf="!progressDisplay.isComparisonFatFound"
              >
                Keep Logging!
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngIf="isMuscleLogger">
        <ion-card class="snapshot__muscle">
          <ion-card-header>
            <ion-card-title>Muscle</ion-card-title>
          </ion-card-header>

          <ion-card-content
            class="snapshot__content"
            *ngIf="isCurrentMusclePeriodRecorded; else noCurrentMuscleMessage"
          >
            <div class="snapshot__weight">
              <div class="snapshot__subtitle">Current Avg</div>
              <div class="snapshot__value">
                {{ progressDisplay.muscle | number : "1.1-2" }}
                <span class="snapshot__units">{{
                  progressDisplay.unitAbbrev
                }}</span>
              </div>
            </div>
            <div class="snapshot__placeholder"></div>
            <div class="snapshot__compare" #snapshotMuscle>
              <div class="snapshot__subtitle">Change</div>
              <div
                class="snapshot__value"
                *ngIf="progressDisplay.isComparisonMuscleFound"
              >
                {{ progressDisplay.muscleChange | number : "1.1-2" }}
                <span class="snapshot__units">
                  {{ progressDisplay.unitAbbrev }}</span
                >
              </div>
              <div
                class="snapshot__value"
                *ngIf="!progressDisplay.isComparisonMuscleFound"
              >
                Keep Logging!
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ng-template #noCurrentWeightsMessage>
  <ion-card-content class="snapshot__content">
    <div class="snapshot__weight">
      <div class="snapshot__title">Current Avg Weight</div>
      <div class="snapshot__value">No recordings this period</div>
    </div>
    <div class="snapshot__placeholder"></div>
    <div class="snapshot__compare">
      <div class="snapshot__title">Since Last {{ selectedProgressPeriod }}</div>
      <div class="snapshot__value">
        <p>Keep entering weights to see your progress!</p>
      </div>
    </div>
  </ion-card-content>
</ng-template>

<ng-template #noCurrentFatMessage>
  <ion-card-content class="snapshot__content">
    <div class="snapshot__weight">
      <div class="snapshot__value">
        Keep entering weights to see your progress!
      </div>
    </div>
  </ion-card-content>
</ng-template>

<ng-template #noCurrentMuscleMessage>
  <ion-card-content class="snapshot__content">
    <div class="snapshot__weight">
      <div class="snapshot__value">
        Keep entering weights to see your progress!
      </div>
    </div>
  </ion-card-content>
</ng-template>
