<div class="week-summary container">
  <div class="week-summary__header">
    <ion-text>
      <h2>Recent Trends</h2>
    </ion-text>
  </div>

  <ion-grid *ngIf="compareToLastWeek$ | async as compareToLastWeek">
    <ion-row>
      <ion-col>
        <ion-card class="week-summary__overall">
          <ion-card-header>
            <ion-card-title>Overall</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="overview__weight">
              {{ compareToLastWeek[0].avgWeightAmount | number : "1.1-2" }}
            </div>
            <div class="overview__compare">
              <div>
                {{
                  compareToLastWeek[0].avgWeightAmount -
                    compareToLastWeek[1].avgWeightAmount | number : "1.1-2"
                }}
              </div>
              <div>
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_drop_up</mat-icon
          > -->
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="week-summary__fat">
          <ion-card-header>
            <ion-card-title>Fat</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="overview__weight">
              {{ compareToLastWeek[0].avgFatAmount | number : "1.1-2" }}
            </div>
            <div class="overview__compare">
              <div>
                {{
                  compareToLastWeek[0].avgFatAmount -
                    compareToLastWeek[1].avgFatAmount | number : "1.1-2"
                }}
              </div>
              <div>
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_drop_up</mat-icon
          > -->
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="week-summary__muscle">
          <ion-card-header>
            <ion-card-title>Muscle</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <div class="overview__weight">
              {{ compareToLastWeek[0].avgMuscleAmount | number : "1.1-2" }}
            </div>
            <div class="overview__compare">
              <div>
                {{
                  compareToLastWeek[0].avgMuscleAmount -
                    compareToLastWeek[1].avgMuscleAmount | number : "1.1-2"
                }}
              </div>
              <div>
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon"
            >arrow_drop_up</mat-icon
          > -->
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
