<div class="trends container">
  <div class="trends__header">
    <ion-text>
      <h3>Over Time</h3>
    </ion-text>
  </div>
  <div class="trends__filter">
    <div
      (click)="changeFilter(ChartSpan.Month)"
      [ngClass]="{ selected: selectedChartSpan === ChartSpan.Month }"
    >
      Month
    </div>
    <div
      (click)="changeFilter(ChartSpan.Quarter)"
      [ngClass]="{ selected: selectedChartSpan === ChartSpan.Quarter }"
    >
      Quarter
    </div>
    <div
      (click)="changeFilter(ChartSpan.Year)"
      [ngClass]="{ selected: selectedChartSpan === ChartSpan.Year }"
    >
      Year
    </div>
  </div>
  <div class="trends__charts">
    <div>
      <div><canvas id="weight-chart"></canvas></div>
    </div>
    <div [ngClass]="{ 'hide-chart': !isFatLogger }">
      <div><canvas id="fat-chart"></canvas></div>
    </div>
    <div [ngClass]="{ 'hide-chart': !isMuscleLogger }">
      <div><canvas id="muscle-chart"></canvas></div>
    </div>
  </div>
</div>
