ion-tab-bar {
  --ion-tab-bar-background: var(--ion-color-primary);
  height: 60px;
}

ion-tab-button {
  --color: var(--ion-color-primary-contrast);
  --color-selected: var(--ion-color-primary-contrast);

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 60%;
    height: 4px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-primary-contrast);
  }
}

.fab-placeholder {
  flex: 0 0 15%;
}

ion-fab.ios{
  bottom: 30px;
}

