.profile {
  padding: 40px;
  &__item{
    margin-bottom: 30px;
    &-header{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    &--metric{
      padding-left: 20px;
    }
  }
}

.data-management {
  padding: 0 40px 40px;
  &__header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}

ion-content.ios{
  --padding-top: 40px;
}

