<div class="macro-tracker container">
  <h4>Protein</h4>
  <ion-range
    aria-label="Range with ticks"
    [ticks]="true"
    [snaps]="true"
    [min]="0"
    [max]="20"
    [step]="0.5"
    [pin]="true"
    [pinFormatter]="pinFormatter"
  >
    ></ion-range
  >
  <h4>Fat</h4>
  <ion-range
    aria-label="Range with ticks"
    [ticks]="true"
    [snaps]="true"
    [min]="0"
    [max]="20"
    [step]="0.5"
    [pin]="true"
    [pinFormatter]="pinFormatter"
  >
    ></ion-range
  >
  <h4>Carbs</h4>
  <ion-range
    aria-label="Range with ticks"
    [ticks]="true"
    [snaps]="true"
    [min]="0"
    [max]="20"
    [step]="0.5"
    [pin]="true"
    [pinFormatter]="pinFormatter"
  >
    ></ion-range
  >
</div>
